html {
    font-size: 62.5%;

}

body {
    background-color: #000000;
    font-size: 1.6rem;
}
.conteudo{
    height: 100vh;
    width: 80%;
    margin: 0 auto;
}
.pcDecoration {
    width: 300px;
    height: 250px;
    /* margin-bottom: 10rem; */
    /* margin-left: 45rem; */
    
}

.Menu {

    width: 85vw;
    height: 100vh;



}
.title{
    width: 100%;
    height: 30rem;

}
.boxToggle {
    width: 46px;
    height: 23px;
    float: right;
    padding: 5px;
}

.toggle {
    background: white;
    width: 45px;
    height: 25px;
    border-radius: 999px;
    border: none;
    padding: 2px 2px;


}

.toggle.active .toggleCircle {
    left: 19px;


}

.toggleCircle {
    background: #1E1E1E;
    width: 22px;
    height: 22px;
    border-radius: 999px;
    position: relative;



}

.language {
    color: #FFF;
    font-family: "Advent Pro";
    margin: 0 auto;
    padding-left: 5px;
    font-size: 1.3rem;
}
.Menu{
    /* display: grid;
    grid-template-columns: repeat(2, minmax(100px, .5fr)); */
    
}
.personalInformations h1 {
    margin-bottom: 0;
    color: #e53939;
    font-family: "Advent Pro";
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.personalInformations h2 {
    color: #FFF;
    font-family: "Advent Pro";
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    padding-left: 8rem;
    margin-top: 0;
}

.personalInformations {
    float: right;
}

.about {
    color: #FFF;
    font-family: "Advent Pro";
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    height: 100vh;
    padding-left: 30rem;

}
@media (max-width:800px){
    html{
        font-size:50%;
    }
    .pcDecoration {
        width: 230px;
        height: 185px;

    }
}
@media (max-width:630px){
    html{
        font-size:45%;
    }
    .pcDecoration {
        width: 200px;
        height: 150px;
        

    }

}
@media (max-width:566px){
    html{
        font-size:40%;
    }
    .conteudo{
        height: 100vh;
        width: 80%;
        margin: 0 10px;
    }
    .pcDecoration {
        padding-bottom: 10px;
        width: 200px;
        height: 150px;

    }
}